{% extends "meraki_inv/device_base.html" %}
{% block header %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
      
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script> $(document).ready( function () {                                                                                                                                                                    
        $('#devices').DataTable();                                                                                                                                                                      
      } );  </script>
{% endblock %}

{% block device_content %}
  <div class="page-header">
    <h1>Devices</h1>
  </div>
  <div class="col-md-12">
    <table class="table table-striped" id="devices">
      <thead>
        <tr>
          <th>Model</th>
          <th>Make</th>
          <th>Model Number</th>
          <th>Serial</th>
          <th>Access</th>
          <th>Loaned</th>
        </tr>
      </thead>
      <tbody>
      {% for device in device_list %}
        <tr>
          <td><a href="{% url "meraki_inv:device_item" serial=device.serial %}">{{ device.model }}</a></td>
          <td>{{ device.make }}</td>
          <td>{{ device.model_num }}</td>
          {% if device.make == "Meraki" %}
          <td><a href="https://dashboard.meraki.com/Bridges/n/xCAfec/manage/dashboard/search?search={{ device.serial }}" target="_blank">{{ device.serial }}</a></td>
          {% else %}
          <td>{{ device.serial }}</td>
          {% endif %}
          <td>{{ device.access }}</td>
          {% if device.loaned.returned == None %}
            <td>{{ device.loaned.mooch }}</td>
          {% else %}
            <td>Not currently</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <ul>
  </ul>
{% endblock %}
