{% extends "meraki_inv/device_base.html" %}
{% block header %}
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script> $(document).ready( function () {                                                                                                                                                                    
        $('#devices').DataTable();                                                                                                                                                                      
      } );  </script>
{% endblock %}

{% block device_content %}
  <div class="page-header">
    <h1>Devices</h1>
  </div>
  <div class="col-md-12">
    <table id="devices" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Model</th>
          <th>Make</th>
          <th>Model Number</th>
          <th>Serial</th>
          <th>Access</th>
          <th>Loaned</th>
          <th>Loaned on</th>
        </tr>
      </thead>
      <tbody>
      {% for device in device_list %}
        <tr>
          <td><a href="{% url "meraki_inv:device_item" serial=device.serial %}">{{ device.model }}</a></td>
          <td>{{ device.make }}</td>
          <td>{{ device.model_num }}</td>
          {% if device.make == "Meraki" %}
          <td><a href="https://dashboard.meraki.com/Bridges/n/xCAfec/manage/dashboard/search?search={{ device.serial }}" target="_blank">{{ device.serial }}</a></td>
          {% else %}
          <td>{{ device.serial }}</td>
          {% endif %}
          <td>{{ device.access }}</td>
          <td>{% if device.loaned.returned == None %}
            {{ device.loaned.mooch }}
          {% else %}
            Available
          {% endif %}</td>
          <td>{% if device.loaned.returned == None %}
            {{ device.loaned.loaned }}
          {% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <ul>
  </ul>
{% endblock %}
