{% extends "meraki_inv/status_base.html" %}

{% block status_content %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Loan {{ device.model }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
          {% include "meraki_inv/snippets/form.html" %}
            <input type="submit" value="Loan" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
